*{
    margin: 0;
    padding: 0;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-bottom: 24px;
}


.card-6 .card-body{
        background:  rgb(69, 166, 245);
        position: relative;
        border: 1px solid #fa5f5f;
        border-bottom: none;
        padding: 30px 0;
        padding-bottom: 0;
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-top-right-radius: 3px;
    
}

.input--style-6, .textarea--style-6 {
    background: transparent;
    line-height: 38px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    font-size: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0 20px;
    margin-top: 11px;
}

input, textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.form-row .name {
    width: 188px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    margin-top: 11px;
    margin-left: 50px;
    text-align: center;
    margin-top: 21px;
}

.card-6 .card-footer {
    background:  rgb(69, 166, 245);
    border: 1px solid #e5e5e5;
    border-top: none;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    padding: 50px 55px;
}