*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-login100{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #2575fc;
    background: -webkit-linear-gradient(left, #10486e, #fd3c36);
}

#boton{
    text-decoration: none;
    color: white;
}
